
.centered {
    text-align: center;
}

.blogPost {
    font-family: "ABeeZee", sans-serif;
    font-size: 16px;
    width: 800px;
    padding: 40px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.blogTitle {
    font-family: "ABeeZee", sans-serif;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
}

.blogDate {
    color: #999999;
    padding: 3px 0;
}

.blogImage {
    width: 100%;
    padding: 3px 0;
}

.blogButton {
  padding: 8px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background 250ms, color 250ms;
  text-align: center;
}

.line {
  line-height: 2.4em;
  color: #767676;
  padding-bottom: 25px;
  border-bottom: 1px solid #dcdcdc;
}