* {
  margin: 0;
  padding: 0;
}

#menuContainer{
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "ABeeZee", sans-serif;
}
.menuItem{
  position: absolute;
  width: 50vw;
  height: 50vh;
  z-index: 1;
  text-align: center;
  overflow: scroll;
}
#quad1{
  left: 0;
  top: 0;
  background-color: #8CE5FF;
  /*#07E8E0;*/
  color: #000000;
}
#quad2{
  right: 0;
  top: 0;
  background-color: #33AACC;
  /*#EF8354;*/
}
#quad3{
  left: 0;
  bottom: 0;
  background-color: #008FCC;
  #3369FF;

}
#quad4{
  right: 0;
  bottom: 0;
  background-color: #40D4FF;
  /*#33FFC0;*/
  color: #000000;
}

.menuContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.menuTitle {
  font-family: "Averia Serif Libre";
  font-size: 30px;
  line-height: 50px;
}

.menuIcon {
  font-size: 60px;
}

.pageContent {
  display: none;
  width: 100%;
  background-color: #FDFDFD;
  width: 900px;
  margin: 60px auto;
  padding:40px;
  box-shadow: 0 0 1em #c7c0c0;
}