.nav {
    padding: 20px 0 0 0;
}

.pageTitle {
  text-align: center;
  font-family: "Averia Serif Libre";
  font-size: 34px;
  padding: 20px;
}

.paragraph {
    font-family: "ABeeZee", sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 800px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center;
}

.button {
  padding: 8px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background 250ms, color 250ms;
}

#quad1 .button,
#quad4 .button{
  border: 2px solid black;
}

#quad2 .button,
#quad3 .button{
  border: 2px solid black;
}

#quad1 .button:hover,
#quad4 .button:hover{
  background:white;
  color: black;
}

#quad2 .button:hover,
#quad3 .button:hover{
  background:black;
  color: white;
}


footer {
  text-align: center;
  padding: 20px;
}

footer a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  transition: color 250ms;
}

footer a:visited {
    color: inherit;
}

footer a:hover {
    color: #aaaaaa;
}

footer p {
    padding: 20px;
}
