*{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.8em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Basic Styles for the page */
html{
	background:##f3f5f8;
	text-align: center;
	height:100%;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
body{
	height:100%;
	color:white;
	/*text-shadow:1px 1px 0 #000;*/
}

a:link, a:visited{
	color:white;
	text-decoration: none;
}
a:active{
	color:white;
}
a:hover{
	opacity: 0.2px;
}
a.btn {
	border: 2px solid #dc2c3d;
	font-family: inherit;
	font-size: inherit;
	text-decoration: none;
	color: white ;
	background: transparent;
	cursor: pointer;
	padding: 10px 30px;
	display:inline-block;
	text-align:center;
	margin:0;
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
	outline: none;
	position: relative;
	border-radius:2px;
	/*-webkit-transition:all 0.1s ease-in-out;
	   -moz-transition:all 0.1s ease-in-out;
	        transition:all 0.1s ease-in-out;*/
}
 .fa-chevron-down {
	color: white;
	opacity: 0.2px;
  padding:250px 25px;
}

  .btn-react {
    /*background-color: #f5f5f5;*/
    height: 100%;
    width: 100%;
    /*border-radius: 100%;*/
    opacity: 0;
    position: absolute;
  }
  /*i {
    vertical-align: bottom;
    position: relative;
    top: 0.1em;
  }
*/
/* Text Styles for the page */

.name {
	font-size:50px;
	letter-spacing: 10px;
  display: inline;
	font-family: "avenir-next", Arial;
  /*border-style: solid;
  border-width: 5px 5px;*/
  z-index: 2;

}
h1 {
	font-size: 40px;
	/*text-transform: uppercase;*/
	margin-bottom:20px;
	letter-spacing: 4px;
	text-decoration: none;
}
h2 {
	font-size: 20px;
	/*text-transform: uppercase;*/
	line-height: 4rem;
	margin-bottom:20px;
}
h3 {
	/*font-size: 1.6rem;
	text-transform: uppercase;
	line-height: 2.5rem;
	margin-bottom:20px;*/
	/*font-size: 15px;
    color: #353535;
    text-transform: uppercase;
    font-weight: bold;
  text-align: center;*/
}
#portfolioTitle h2 {
  font-size: 30px;
  /*text-transform: uppercase;*/
  margin-bottom:10px;
  letter-spacing: 4px;
  text-decoration: none;
  color:#7f8c8d;
}
#portfolioTitle h3 {
  font-size: 20px;
  /*text-transform: uppercase;*/
  margin-bottom:20px;
  letter-spacing: 4px;
  text-decoration: none;
  color:#7f8c8d;
}
p {
	font-size: 16px;
	line-height: 30px;
	text-shadow:none;
	word-spacing: 1px;
}
blockquote {
	font-size: 1.2rem;
}
pre {
	font-size: 0.9rem;
}
/*#about {
	display:block;
	padding:100px 50px;
	width:100%;
	max-width: 960px;
	margin:0 auto;
	overflow:hidden;
	text-align: center;
}*/


.content{
	display:block;
	padding:50px 50px;
	width:100%;
	max-width: 960px;
	margin:0 auto;
	overflow:hidden;
}
/*.content img{
	width:25%;
	height:auto;
	float:left;
	display:inline;
	padding:10px;
}*/

.tout {
   /*border: 1px solid black; */
  display:inline-block;
  width:450px;
  padding:40px;
}
.tout:hover {
	opacity: 0.4;
}
.tout h3 {
	font-size: 14px;
    color: #353535;
    text-transform: uppercase;
    font-weight: bold;
  	text-align: center;
}
.tout p {
	text-align:center;
 	padding:0 10px;
  	color: #7f8c8d;
  	font-size: 13px;
}
.tout a {
	text-align:center;
  	font-size: 14px;
  	text-decoration: none;
  	color:black;
}
img {
  height:200px;  
}

h3::after {
    content: " ";
    border: solid 2px #dc2c3d;
    display: block;
    width: 35px;
    margin: 25px auto;
}





/* Section Styles for the page */
section{
	background:white;
	padding:0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.wrapper{
	color:#000;
	text-shadow:none;
	color: #7f8c8d;
	padding: 50px 20px;

}
.wrapper h2 {
	 word-spacing: 1px;
    line-height: 25px;
    font-size: 30px;
    margin-bottom: 20px;

}

.hero{
	background: url(https://images.unsplash.com/photo-1454532256047-6f79947885b9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=695e97de233b13d1d37f2262dbca8c6d);
	/*opacity: 0.5;*/
  /*background-color:#f6efff;*/

  background-size: cover;
	height: 100%;
    max-height:100%;
    overflow: auto;
}
.hero .content{
	margin-top:13%;
}
.middle{
	background: url(https://images.unsplash.com/photo-1447877980755-c3c642760061?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5f1acaf1188af141b4c6a761dbdcf4c3);
  height: 20em;
  /*opacity: 0.5;*/
	background-attachment:fixed;
}
.lower{
	background: url(https://images.unsplash.com/photo-1467646208740-18124b37eb58?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=277c6a2c9e53029109b25336ecb744d7);
    /*background: url(https://images.unsplash.com/photo-1454532256047-6f79947885b9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=695e97de233b13d1d37f2262dbca8c6d);*/

  padding-bottom: 60px;
  height: 15em;
}
.bottom{
	background:#26292C;
}

.overlay{
	position: relative;
  	z-index: -1;
}
.overlay:after{
	background:rgba(0, 0, 0, 0.6);
	content: "";
	width: 100%;
	height: auto;
	position: absolute;
	z-index: -1; 
 	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

/*social*/
/*
.center {
  display: table;
  width: 100%;
  height: 100vh;
}*/

#social h2 {
  color: #dc2c3d;
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
}

#social {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}

#social ul {
  text-align: center;
  padding-left: 320px;
}

#social li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
}

#social li:first-child {
  margin-left: 0px;
}

#social li:last-child {
  margin-right: 0px;
}


/** Facebook **/

.facebook {
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.facebook .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.facebook .border:hover {
  background:  #dc2c3d;
  border-color:  #dc2c3d;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa.fa-facebook {
  font-size: 25px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}


/** Twitter **/

.twitter {
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.twitter .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.twitter .border:hover {
  background: #dc2c3d;
  border-color: #dc2c3d;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa.fa-twitter {
  font-size: 25px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}


/** Instagram **/

.instagram {
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.instagram .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.instagram .border:hover {
  background:  #dc2c3d;
  border-color: #dc2c3d;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa.fa-instagram {
  font-size: 25px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}


/** dribbble **/

.dribbble {
  width: 50px;
  height: 50px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.dribbble .border {
  background: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all .2s ease-in-out;
}

.dribbble .border:hover {
  background: #dc2c3d;
  border-color: #dc2c3d;
  color: rgba(255, 255, 255, 0.9);
  transform: scale(1.2);
}

.fa.fa-dribbble {
  font-size: 25px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}



footer{ 
  background:#292929;  
  padding:20px 0 20px; 
  font-size: 20px;
  text-align: center;
  font-family: 'Varela Round';
}





