header {
	margin: 80px 0px;
}
body {
	margin: 120px auto 0;
	padding: 0 100px; 
	background: #fff;
	color: #4B4C4D;
}
h1 {
    font-size: 48px;
    line-height: 62px;
    font-weight: 300;
    color: #323233;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.16);
    margin: 10;
}
p {
    font-family: "adelle-sans",sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
h2 {
    font-family: "adelle-sans",sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    color: green;
    margin: 0 0 6px;
}
li {
    font-size: 16px;
    line-height: 25px;
    margin: 0;
}
footer {
	margin: 40px 0px;
}
a {
	text-decoration: none;
}