* {
	padding: 0;
	margin: 0;
}

header {
	background: #f6f6f6;
	padding: 40px 100px;

}
body {
	/*margin: 120px 0;
	padding: 0 100px;*/ 
	background: #fff;
	color: #4B4C4D;
}
h1 {
    font-size: 48px;
    line-height: 62px;
    font-weight: 300;
    color: #323233;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.16);
    margin: 5px 0 0 0;
}
p {
    font-family: "adelle-sans",sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
h2 {
    font-family: "adelle-sans",sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-weight: 500;
    color: #42f4e8;
    margin: 0 0 6px;
}
ul {
    font-size: 16px;
    line-height: 25px;
    padding: 0 0 0 25px;
}
.copyright {
	margin: 20px 0px;
}
a {
	/*text-decoration: none;*/
	color: #4B4C4D;
}
a:hover {
	color: #42f4e8;
}
#links {
	padding: 40px 0 0 0;
}
#links a {
	display: inline-flex;
	justify-content: center; 
	align-items: center;
	height: 35px;
	width: 35px;
	border: 1px solid black;
	margin: 10px;
	transform: rotateZ(45deg);
	text-decoration: none;
}
#links a:hover {
	border: 1px solid #42f4e8;
}
#links a i {
	transform: rotateZ(-45deg);
}
.contentItem {
	padding: 30px 0 0 0;
}
#container {
	display: flex;
	max-width: 900px;
	padding: 0 100px;
}
#content{
	flex-grow: 1;
}
#SusanImg {

}
@media (max-width: 600px) {
	header {
		padding: 20px 5vw;
	}
	header img {
		max-width: 80vw;
	}
	h1 {
	    font-size: 28px;
	    line-height: 36px;
	}
	#container {
		flex-direction: column-reverse;
		padding: 0 5vw;
	}
	#SusanImg {
		margin: 0 auto;
		max-width: 80vw;
	}
	#SusanImg img {
		max-width: 100%;
	}
	#links {
		text-align: center;
	}
	.copyright {
		text-align: center;
	}
}
@media (min-width: 1000px) {
	body {
		font-size: 22px;
		line-height: 34px;
	}
	header {
		padding: 50px 10vw;
	}
	h1 {
	    font-size: 62px;
	    line-height: 90px;
	}
	h2 {
		font-size: 24px;
		line-height: 36px;
	}
	#container {
		padding: 0 10vw;
		max-width: 1200px;
	}
	
}
